html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fafafa;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.animate {
  position: relative;
  animation-duration: 1s;
  width: 100%;
  left: -100%;
  overflow: hidden;
  text-align: center;
  &-left {
    animation-name: slidein-left;
    animation-fill-mode: forwards;
  }
  &-right {
    animation-name: slidein-right;
    animation-fill-mode: forwards;
  }
}

.block {
  text-align: center;

  @media (min-width: 400px) {
    max-width: 1000px;
    margin-left: calc(50% - 500px + 50px);
    margin-right: calc(50% - 500px + 50px);
  }
}
a {
  color: #2277cc;
  &:hover {
    color: #2277dd;
    text-decoration: underline;
  }
}
main {
  align-self: center;
  width: 100%;
  .animate {
    .info-box {
      font-size: 14pt;
      margin-bottom: 50px;
      background-color: #f0f0f0;
      article {
        text-align: justify;
        padding: 0 30px 0 30px;
        text-indent: 20px;
      }
      @media (min-width: 401px) {
        display: grid;
        grid-template:
          'header header image'
          'article article image'
          'footer footer image';
        header {
          grid-area: header;
        }
        footer {
          grid-area: footer;
        }
        article {
          grid-area: article;
        }
        img {
          grid-area: image;
        }
      }
    }
  }
}

@keyframes slidein-left {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slidein-right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
